/* apply a natural box layout model to all elements */
*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
 }

body {
  background-color: #f1f0f0;
  color: #143c8c; /* dark blue */
  font-family: 'Istok Web', sans-serif;
  font-size: 16px;
  margin: 0;
  padding: 0;
}

h1, h2, h3, h4, h5, h6,
p {
  // line-height: 1.4em;
  margin: 0;
}

i {
  font-size: 5em;
}

a {
  color: #143c8c;
  text-decoration: none;

  &:hover {
    color: #50b4e8;
  }
}

