.l-separator.l-separator-pixels-2-rows

.l-dark
  .banner.clearfix
    .l-1-2-columns.left
      %h3.banner.web WEB
    .l-1-2-columns.right
      %h3.banner.design Design
      %h3.banner.development Development

