.l-constrained
  .l-content.clearfix
    .l-1-3-columns.left
      %i.fa.fa-phone
      %i.fa.fa-envelope
      %p.smaller Click Me
    .l-2-3-columns.right
      %p.larger Let's Meet
      %p.push-down-1 512/739.9268
      %p.push-down-2 sg@essgee.io
