.l-constrained
  .l-content.clearfix
    .l-1-3-columns.left
      %i.fa.fa-mobile
      %i.fa.fa-tablet
      %i.fa.fa-desktop
    .l-2-3-columns.right
      %p.larger Responsive
      %p.tighter 1 Solution, 3 Modes
      %p Mobile
      %p Tablet
      %p Desktop