.l-constrained
  .l-content.clearfix
    .l-1-3-columns.left
      %i.fa.fa-cloud-download
      %i.fa.fa-code
    .l-2-3-columns.right
      %p.larger We offer
      %p Web Design
      %p Web Sites
      %p Web Applications
      %p Web Consulting