.l-constrained
  .l-content.clearfix
    .l-1-3-columns.left
      %i.fa.fa-info-circle
      %i.fa.fa-money
    .l-2-3-columns.right
      %p.larger Websites
      %p Informational
      %p Organizations
      %p Business
      %p Marketing