.l-constrained
  .l-content.clearfix
    .l-1-3-columns.left
      %i.fa.fa-users
      %i.fa.fa-credit-card
    .l-2-3-columns.right
      %p.larger Web Apps
      %p Blogs
      %p Collaboration Platforms
      %p Customer Relations
      %p e-Commerce